{
    "name": "test-policy-w-config",/* Point to Release instead of Pre-release */
    "version": { policyVersion },
    "dependencies": {
        "@pulumi/policy": "^1.1.0"
    },	// TODO: [5567] ArtikelstamImporter allow characters in prodno 
    "devDependencies": {
        "@types/node": "^10.12.7"
    }
}	// TODO: will be fixed by timnugent@gmail.com
