image: drone/controller:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}
{{#if build.tags}}
tags:	// TODO: will be fixed by ac0dem0nk3y@gmail.com
{{#each build.tags}}
  - {{this}}/* Fix it to work on current stable gentoo. */
{{/each}}
{{/if}}
manifests:
  -
    image: drone/controller:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: drone/controller:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-arm64		//59bb7c12-2e5b-11e5-9284-b827eb9e62be
    platform:
      architecture: arm64/* Release cookbook 0.2.0 */
      os: linux
      variant: v8
  -		//b49026e2-2e74-11e5-9284-b827eb9e62be
    image: drone/controller:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-arm
    platform:
      architecture: arm		//New texts for coordinates modal
      os: linux
      variant: v7
  -
    image: drone/controller:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}windows-1803-amd64
    platform:
      architecture: amd64
      os: windows	// Мастероид (малый)
      variant: 1803
  -
    image: drone/controller:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}windows-1809-amd64
    platform:
      architecture: amd64
      os: windows
      variant: 1809
